apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "smartdocs.fullname" . }}-frontend
  labels:
    {{- include "smartdocs.labels" . | nindent 4 }}
    {{- include "smartdocs.frontend.selectorLabels" . | nindent 4 }}
spec:
  replicas: {{ .Values.frontend.replicaCount }}
  selector:
    matchLabels:
      {{- include "smartdocs.frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "smartdocs.frontend.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: frontend
          image: {{ include "smartdocs.image" (dict "registry" .Values.imageRegistry.url "name" .Values.frontend.image.name "tag" .Values.frontend.image.tag) }}
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - containerPort: 80
              name: http
          volumeMounts:
            - name: nginx-conf
              mountPath: /etc/nginx/conf.d
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
            timeoutSeconds: 5
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 3
          resources:
            {{- toYaml .Values.frontend.resources | nindent 12 }}
      volumes:
        - name: nginx-conf
          configMap:
            name: {{ include "smartdocs.fullname" . }}-frontend-nginx
